# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
nRF_MDK_8_40_3_IAR_BSDLicense.msi
license.txt

external_tools/
documentation/
examples/802_15_4/
examples/ant/
examples/ble_central/
examples/ble_central_and_peripheral/
examples/connectivity/
examples/crypto/
examples/dfu/
examples/dtm/
examples/multiprotocol/
examples/nfc/
examples/peripheral/
examples/proprietary_rf/
examples/usb_drivers/
examples/readme.txt
examples/ble_peripheral/ble_app_alert_notification/
examples/ble_peripheral/ble_app_ancs_c/
examples/ble_peripheral/ble_app_beacon/
examples/ble_peripheral/ble_app_blinky/
examples/ble_peripheral/ble_app_bms/
examples/ble_peripheral/ble_app_bps/
examples/ble_peripheral/ble_app_buttonless_dfu/
examples/ble_peripheral/ble_app_cscs/
examples/ble_peripheral/ble_app_cts_c/
examples/ble_peripheral/ble_app_eddystone/
examples/ble_peripheral/ble_app_gatts_c/
examples/ble_peripheral/ble_app_gls/
examples/ble_peripheral/ble_app_hids_keyboard/
examples/ble_peripheral/ble_app_hids_mouse/
examples/ble_peripheral/ble_app_hrs/
examples/ble_peripheral/ble_app_hrs_freertos/
examples/ble_peripheral/ble_app_hts/
examples/ble_peripheral/ble_app_ias_c/
examples/ble_peripheral/ble_app_ipsp_acceptor/
examples/ble_peripheral/ble_app_proximity/
examples/ble_peripheral/ble_app_pwr_profiling/
examples/ble_peripheral/ble_app_rscs/
examples/ble_peripheral/ble_app_template/
examples/ble_peripheral/ble_app_tile/
examples/ble_peripheral/experimental/

examples/ble_peripheral/ble_app_uart/pca10040e/
examples/ble_peripheral/ble_app_uart/pca10056/
examples/ble_peripheral/ble_app_uart/pca10056e/
examples/ble_peripheral/ble_app_uart/pca10100/
examples/ble_peripheral/ble_app_uart/pca10100e/
examples/ble_peripheral/ble_app_uart/ble_app_uart.eww
examples/ble_peripheral/ble_app_uart/pca10040/s112/
examples/ble_peripheral/ble_app_uart/pca10040/s132/iar/
examples/ble_peripheral/ble_app_uart/pca10040/s132/ses/
examples/ble_peripheral/ble_app_uart/pca10040/s132/armgcc/
examples/ble_peripheral/ble_app_uart/pca10040/s132/arm5_no_packs/_build/
examples/ble_peripheral/ble_app_uart/pca10040/s132/arm5_no_packs/RTE/
examples/ble_peripheral/ble_app_uart/pca10040/s132/arm5_no_packs/ble_app_uart_pca10040_s132.uvguix.matia
examples/ble_peripheral/ble_app_uart/pca10040/s132/arm5_no_packs/JLinkLog.txt
examples/ble_peripheral/ble_app_uart/pca10040/s132/arm5_no_packs/JLinkSettings.ini
